<%- include("partials/header"); %>
<form>
    <div class="framed">
        <% if(player.pokemon.length > 0) { %>
            <% for (let pokemon of player.pokemon) { %>
                <button>
                    <%= pokemon.name %> #<%= pokemon.id %>
                </button>
            <% } %>
        <% } else { %>
            <p>You don't have any Pokemon yet!</p>
        <% } %>
    </div>

    <div class="framed">

        <% for (let pokemon of allPokemon) { %>
            <button formmethod="post" formaction="/player/<%= player._id %>/pokemon/add<%= pokemon.id %>">
                <%= pokemon.name %> #<%= pokemon.id %>
            </button>
        <% } %>

    </div>
</form>
<%- include("partials/footer"); %>